server:
  port: ${SERVER_PORT:8084}

spring:
  application:
    name: search-service
  elasticsearch:
    uris: ${ELASTICSEARCH_URI:http://elasticsearch:9200}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
